* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}


.layout {
  background-color: whitesmoke;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

Aside {
  margin: 0;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.burger {
  position: fixed;
  margin: 5px 0 0 3px;
  color: gray;
}

.responsive {
  background-color: #023047;
  position: fixed;
  z-index: 100;
  border-bottom-right-radius: 20px;
}

.responsive .a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.responsive .a.active {
  background-color: rgba(0, 68, 170, 0.555);
  color: white;
  border-radius: 20px;
  margin: 15px;
}

.responsive .a:hover:not(.active) {
  background-color: #0e7a96;
  color: white;
  border-radius: 20px;
  margin: 15px;
}

.contenido {
  padding-left: 200px;
  overflow: auto;  
  scroll-snap-type: y mandatory;
  margin-bottom: 50px;
}
.containerIndexPrincipal{
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  height:100%;
  width:100%;
  background-color:#FFCB00;
}

.tituloUno {
  background-color: #FFCB00;
  text-align: center;
  font-style: italic;
}
.imagenPagPrincipal{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.bola {
  display: inline-block;
  margin: 20px 0px 30px 30px;
  height: 120px;
  width: 140px;
  border-radius: 100%;
  border: 2px solid white;
  text-align: center;
  object-fit: cover;
  ;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #023047;
  position: fixed;
  overflow: auto;
  font-weight: bold;
  display: block;
  height: 100%;
}

.sidebar .a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar .a.active {
  background-color: rgba(0, 68, 170, 0.555);
  color: white;
  border-radius: 20px;
  margin: 15px;
}

.card-img-container {
  height: 200px;
  overflow: hidden
}

.dashboard-cards-container {
  height: 100vh;
  display: flex;
}

.card-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sidebar .a:hover:not(.active) {
  background-color: #0e7a96;
  color: white;
  border-radius: 20px;
  margin: 15px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.hola {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  overflow: auto;
  font-weight: bold;
  display: block;
  height: 100%;
}
.mainContainerTable {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    visibility: hidden;
  }
  .contenido {
    padding-left: 0;
    margin: 50px 20px 0px 28px;
    padding-bottom: 50px;
  }
  .dashboard-cards-container {
    height: max-content;
  }
  .mainContainerTable{
    width: 90%;
  }
}

@media screen and (min-width:700px){
  .responsive {
    visibility: hidden;
  }
  .burger {
    visibility: hidden;
  }
}
.guiGestionUsuarios {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
  background-color: whitesmoke;
}

/* Sirve para quitar las flechas al tipo number*/

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.tituloGestionVentas {
  display: block;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.mainContainerTable .gypLdv{
  margin: 0;
}

.selectlist {
  height: 45px;
  line-height: 30px;
  font-size: 14px;
}

.botonVolver {
  margin: 50px 0px 0px 300px;
  font-size: 20px;
}


.tituloSide {
  font-size: bold;
  display: block;
  color: white;
  text-align: center;
  margin: 10px 0 20px 30px;
}

.TooltipEditar {
  display: block;
  text-align: center;
}

.GUS {
  visibility: hidden;
}

.inputBusqueda {
  display: row;
  background-color: #fff;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0px 40px 0px 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  transition: .3s ease all;
}

@media screen and (max-width: 800px){
  .inputBusqueda{
    width: 100%;
  }
}
.link-boton{
  text-decoration: none;
  color: #fff;
}
.estado-venta p{
  margin-left: 12rem;
}

.Perfil{
  display: block;
  position: absolute;
  margin: 0px 0px 30px 70px;
  bottom:0px;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: 2px solid white;
  text-align:center;
  object-fit:fill;
};

.MensajeNoAutorizado{
  margin-left: 200px;
}

.iconSide {
  margin-right: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.ButtonSalir{
  display: block;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border:none;
  background-color:#023047;
  margin: 15px;
}
.ButtonSalir:hover:not(.active) {
  background-color:  #0e7a96;
  color: white;
  border-radius: 20px;
  margin: 15px;
  border:none;

}
.edit{
  color: #023047;
}
.trash{
  color: rgb(165, 0, 0);
}

.main-layout{
  height:100vh;
  background-color: #fbcf04;
}

.contenedor-main-layout{
  background-color: #fbcf04;
}

.side-responsive{
  position: relative;
  z-index: 2;
}